body{
     background-image: url("/images/bg.jpg");
     background-size:cover;
     color:blanchedalmond;

}

nav a{
    font-size:1.8em;
    margin-right:30px;

}

.dropdown-menu{
 background:#343a40;

}
.dropdown-menu a{
    color:blanchedalmond;
}
.title{
    width:50%;
    margin:auto;
    letter-spacing:10px;
    margin-top:270px;

}

.form{
    background-color:rgba(0,0,0,0.67);
    width:50%;
    margin:auto;
    margin-top:50px;
    text-align:center;
}
hr{
 background-color:blanchedalmond;
}
.form-group{
    width:60%;
    margin:auto;
    margin-top:30px;
    font-size:1.8em;
}

.container-fluid{
    background-color:rgba(0,0,0,0.67);

}
.container-fluid p{
    font-size:1.8em;
}
.container-fluid li{
    font-size:1.8em;
}
.entries a{
    margin-right:30px
}
.views.animals{
   display: flex;
   flex-wrap: wrap;

}
.card{
    margin-right:20px;
}
.views.sightings{
 background-color:rgba(0,0,0,0.67);
}
